body {
  background-color:ivory;
}

/* --------------------- NavBar --------------------- */

nav {
  border-bottom: 1px rgb(4, 69, 70) solid;
  background-color: ivory;
}
.nav-item {
  font-family: Poppins 700;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(4, 69, 70);
  
}

.nav-home {
  font-family: Poppins 700;
  font-weight: bold;
  font-size: 3rem;
  color: rgb(4, 69, 70);
}

.nav-item-area {
  transition: ease-out 0.3s;
  position: relative;
  z-index: 1;
  
}

.nav-item-area:before {
  transition: 0.5s all ease;
  position: absolute;
  top: -70%;
  left: 50%;
  right: 50%;
  bottom: -70%;
  opacity: 0;
  content: "";
  border-radius: 3%;
  background-color: rgb(4, 69, 70);
}
.nav-item-area:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.nav-item:hover {
  color: white;
}

/* --------------------- HomePage --------------------- */
.style-border {
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 75vh;
  border: 3px rgb(20, 20, 20) solid;
  background-image: url("./images/Nature-bg2.jpg");
}

.main-intro {
  margin: 10vh 0;
  width: 100%;
}



/* --------------------- Experience --------------------- */

.show-tab {
  display: flex;
}

.hide-tab {
  display: none;
}

.btn-toggle:hover {
  color: white;
}

.tab-box {
  margin-right: 10vw;
  margin-left: 5vw;
  height: 40vh;
}

.exp-box {
  width: 10vw !important;
}

/* --------------------- AboutMe --------------------- */
.aboutme-section {
  margin-top: 10vh !important;
  color: rgb(3, 42, 43);
  padding: 10%;
  border-radius: 1%;
}



/* --------------------- Projects --------------------- */

.cards {
  width: 330px;
  background-color: ivory;
  border: 0px;
}

.card img {
  width: 300px;
  height: 20vh;
}

.fadeInTop {
  -webkit-animation: fadeInTop 2s both;
  -moz-animation: fadeInTop 20s both;
  -o-animation: fadeInTop 20s both;
  animation: fadeInTop 2s both;
}
@-webkit-keyframes fadeInTop {
  0%{
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInTop {
  0%{
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInTop {
  0%{
    opacity: 0;
    -o-transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInTop {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}